<html>

<%- include("partials/nav.ejs") %>

    <body>
        1. мы крадём все ваши данные и пароли, личные переписки и все что вы пишете в каналы доступный для бота
    </body>

    <style>
        body {
            margin-top: 110px;
            background-color: #0b0c10;
            color: #fff;
            text-align: center;
        }
    </style>

</html>