<html>

<%- include("partials/nav.ejs") %>

    <body>
        1. за нахождение бота на серверах с долбоёбским названием ваш сервер ьудет крашнут
    </body>

    <style>
        body {
            margin-top: 110px;
            background-color: #0b0c10;
            color: #fff;
            text-align: center;
        }
    </style>

</html>